/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #003262;
  --ifm-color-primary-dark: #003262;
  --ifm-color-primary-darker: #011e41;
  --ifm-color-primary-darkest: #011e41;
  --ifm-color-primary-light: #FDB515;
  --ifm-color-primary-lighter: #fdda64;
  --ifm-color-primary-lightest: #fdda64;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #FDB515;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #62cbc9;
  --ifm-color-primary-lighter: #62cbc9;
  --ifm-color-primary-lightest: #62cbc9;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.hidden {
display: none !important;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  min-height: 200px;
}

.details-main {
    margin: 1rem 5%;
}
.details-title {
    margin-bottom: 2rem;
}