/* ---------------------------------------------------
   Imports
   --------------------------------------------------- */

@use "./globals.scss";
@use "./gradient-backgrounds.scss";
@use "./headers.scss";
@use "./navbar.scss" ;
@use "./details.scss";
